pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.4.2
xgboost==2.0.3
imbalanced-learn==0.12.2
mlflow==2.12.2
shap==0.45.0
streamlit==1.33.0
psycopg2-binary==2.9.9
sqlalchemy==2.0.29
ipykernel==6.29.4
faker==24.11.0
